@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfuly!</h1>
         Your Order Number is :@Model<br /><br />
         <img src="/images/products/669199d9-3fef-47c7-9e50-4855e3f2edf8.jpg" width:"65%">
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed succesfuly!<br />
    </div>
</div>
